---
---

@import "{{ site.theme }}";
#header-wrap {
  background-image: url(https://i.imgur.com/cUKJuEH.jpg);
  background-size: contain;
}
a:hover {
  text-decoration: none;
  opacity: 0.8;
}
#project_title:hover {
  opacity: 0.8;
}
.video-thumbnail {
  margin: 2px; width: calc(50% - 16px);
}
.button {
  width: calc(100% - 12px);
  margin: 6px;
  background-color: #18a0fb;
  color: #eeefef;
  font-size: larger;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
}
.blog-post {
  background-color: #f8f8f8;
  color: #000000;
  width: calc(100% - 32px);
  margin: 20px 6px;
  padding: 10px;
  border-radius: 10px;
}
