---
---

@import "{{ site.theme }}";
a:hover {
  text-decoration: none;
  opacity: 0.8;
  transition-duration: 0.5s;
}
#project_title:hover {
  opacity: 0.8;
}
.video-thumbnail {
  margin: 2px; width: calc(50% - 16px);
}
.button {
  width: calc(100% - 12px);
  margin: 6px;
  background-color: #18a0fb;
  color: #eeefef;
  font-size: larger;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}
