<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- Custom CSS files set in YAML front matter -->
    {% for css in page.customcss %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ css }}">
    {% endfor %}
    <link rel="shortcut icon" type="image/png" href="https://yt3.ggpht.com/-r4KYFZufWvc/AAAAAAAAAAI/AAAAAAAAAAA/o-bSgzWQK2o/s108-c-k-c0x00ffffff-no-rj-mo/photo.jpg"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/scripts/util.js"></script>
    {% seo %}
  </head>
  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        {% case page.lang %}
          {% when "zh-tw" %}
            <a href="/zh/"><h1 id="project_title">{{ site.title.zh_tw }}</h1></a>
            <h2 id="project_tagline">{{ site.description.zh_tw }}</h2>
          {% else %}
            <a href="/"><h1 id="project_title">{{ site.title.en_us }}</h1></a>
            <h2 id="project_tagline">{{ site.description.en_us }}</h2>
        {% endcase %}
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166800713-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-166800713-1');
  </script>

    <!-- Custom JavaScript files set in YAML front matter -->
    {% for js in page.customjs %}
    <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
  </body>
</html>
